<hello name="{{ name }}"></hello>
<p>Start editing to see some magic happen :)</p>
<p *ngIf="this.user">{{ this.user.name }}</p>
<p *ngIf="this.errorMsg" class="error">{{ this.errorMsg }}</p>

<label for="name">Check Current User</label>
<input
  id="user"
  name="user"
  type="button"
  value="Click to check Current User"
  (click)="onShowCurrentUser($event)"
/>
<hr />
<p *ngIf="this.currentStudent">
  Current Student is : {{ this.currentStudent.name }}
</p>
<hr />
<ng-container *ngIf="this.studentList">
  <ul>
    <li
      *ngFor="let student of this.studentList"
      (click)="setCurrentUser(student)"
    >
      {{ student.name }}
    </li>
  </ul>
</ng-container>
<app-child></app-child>
